/*Setup default*/
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);

}

/*Added button*/
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(220, 53%, 49%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

/*Added hover*/
button:hover {
    background-color: hsl(0, 0%, 40%);

}

/*Added active*/

button:active {
    background-color: hsl(0, 0%, 50%);
}

/*Added operator button*/
.operator-btn {
    background-color: hsl(186, 87%, 55%);
}

/*Added operator button*/
.operator-btn:hover {
    background-color: hsl(186, 87%, 65%);
}

/*Added operator button*/
.operator-btn:active {
    background-color: hsl(186, 87%, 75%);
}


/*Added calculator class*/
#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(48, 100%, 80%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

/*Added display class*/
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: center;
    border: none;
    background-color: hsl(119, 48%, 55%);
    color: white
}

/*Added ketys function for a layout*/
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}